* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
}

.container {
  display: flex;
  /* border: 1px solid; */
}

.left {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  flex-grow: 5;
}

.middle {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: space-around;
  border: 1px solid;
}

.middle button{
    padding: 5px;
}

.right {
  flex-grow: 5;

  flex-direction: column;
  border: 1px solid;
}
